a {
  text-decoration: none;
}
.navbar {
  background: cornflowerblue;
}
.NavList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  max-width: 1280px;
  margin: 0 auto;
}
.logo {
  font-family: "Permanent Marker", cursive;
  margin-left: 2rem;
  font-weight: bold;
  font-size: 1.5rem;
}
.logo h3 {
  color: rgb(255, 255, 255);
  margin: 0;
}
ul {
  list-style: none;
}
.menuItem {
  position: relative;
  display: inline-block;
  margin: 0 1rem;
  font-weight: bold;
  text-transform: uppercase;
  background: transparent;
  color: #fff;
  overflow: hidden;
  padding-bottom: 5px;
}

.menuItem::before {
    position: absolute;
    bottom: 0;
    left: -110%;
  content: "";
  width: 100%;
  height: 3px;
  background-color: brown;
  transition: all 0.3s ease-in;
}

.menuItem:hover::before {
  left: 0%;
}


.loginBtn {
  margin-left: 2rem;
  padding: 0.3rem 1.4rem;
  background-color: brown;
  color: #fff;
  box-shadow: 0px 0px rgb(241, 241, 241);
}

